#test {
    background-color: white;
    width: auto;
    text-align: center;
    margin-left: 370px;
    margin-right: 370px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 80px;
}

#myDIV {
    display: none;
}